#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #F2E7C9;
  color: #413C58;
}

li {
  list-style-type: none;
}

.task{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.desc {
  background-color: #A3C4BC;
  border-radius: 10px;
}

.days {
  background-color: #BFD7B5;
  border-radius: 10px;
}

.author {
  background-color: #E7EFC5;
  border-radius: 10px;
}

.name {
  font-weight: bold;
}