#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #F2E7C9;
  color: #413C58;
  padding: 3px;
  font-size: 22px;
}

li {
  list-style-type: none;
}

form {
  padding: 5px;
}

.task{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.desc {
  background-color: #A3C4BC;
  border-radius: 10px;
}

.days {
  background-color: #BFD7B5;
  border-radius: 10px;
}

.author {
  background-color: #E7EFC5;
  border-radius: 10px;
}

.name {
  font-weight: bold;
}

input {
  background-color: #A3C4BC;
  border: none;
  border-radius: 10px;
  color: #413C58;
  font-size: 15px;
}

input::placeholder {
  color: #F3E8CA;
}

.check {
  background-color: #E7EFC5;
}

.add_task {
  background-color: #A3C4BC;
}

.delete_task {
  background-color: #413C58;
}

button {
  border-radius: 10px;
  color: #F2E7C9;
}

button:hover {
  border-color: #E7EFC5;
  color: #E7EFC5;
}